extends layout

block content

    br

    div(class = "container" )
        form(class = "form", name="timeSheetForm", method="post")
            div(class = "form-group")
                div.input
                    span.label Date   
                    input(id='date',type="date", class="form-control", name="date")
                div
                    span.label Name
                    select(id='name',class='form-control', name='name', placeholder='Your Name')
                        option Select Foreman
                        each foreman in foremenArray
                            option #{foreman.name}
                div.input
                    span.label Job Number   
                    input(id='jobNumber',type="number", class="form-control", name="jobNumber")
                div.input
                    span.label Crew Size For Estimate
                    input(id='estCrewSize',type="number", class="form-control", name="estCrewSize")
                div.input
                    span.label Hours Worked  For Estimate   
                    input(id='estCrewHours',type="number", class="form-control", name="estCrewHours")
                div.input
                    span.label Crew Size For T&M  
                    input(id='tmCrewSize',type="number", class="form-control", name="tmCrewSize")
                div.input
                    span.label Hours Worked For T&M
                    input(id='tmCrewHours',type="number", class="form-control", name="tmCrewHours")
                div.input
                    span.label Lunch Taken?  
                    input(id='lunchTaken',type="text", class="form-control", name="lunchTaken")
                div.input
                    span.label Done? 
                    input(id='jobFinished',type="text", class="form-control", name="jobFinished")
                div.input
                    span.label Off-Hauled?   
                    input(id='offHauled',type="checkbox", class="form-control", name="offHauled", value="offHauled")
                div.input
                    span.label Yards Hauled  
                    input(id='yardsHauled',type="number", class="form-control", name="yardsHauled")
                div.input
                    span.label Notes 
                    input(id='notes',type="text", class="form-control", name="notes")
                div.actions
                    input(id='submit',type="submit", class="btn btn-primary", value="Submit")

    if timesheet
        script.
            window.onload = () => {
                console.log("#{timesheet}");
                document.getElementById("date").defaultValue = "#{timesheet.date}";
                document.getElementById("jobNumber").defaultValue = "#{timesheet.jobNumber}";
                document.getElementById("estCrewSize").defaultValue = "#{timesheet.estCrewSize}";
                document.getElementById("estCrewHours").defaultValue = "#{timesheet.estCrewHours}";
                document.getElementById("tmCrewSize").defaultValue = "#{timesheet.tmCrewSize}";
                document.getElementById("tmCrewHours").defaultValue = "#{timesheet.tmCrewHours}";
                document.getElementById("lunchTaken").defaultValue = "#{timesheet.lunchTaken}";
                document.getElementById("jobFinished").defaultValue = "#{timesheet.jobFinished}";
                console.log("#timesheet.offhauled");
                document.getElementById("offHauled").checked = "#{timesheet.offHauled}";
                document.getElementById("yardsHauled").defaultValue = "#{timesheet.yardsHauled}";
                document.getElementById("notes").defaultValue = "#{timesheet.notes}";
                



            };
